@using TwitterBackup.Web.Areas.Admin.Models.Users
@model TwitterBackup.Web.Areas.Admin.Models.Statistics.StatisticsViewModel

<br />
<br />

@{
	ViewData["Title"] = "Users Statistics";
}
<h1>@ViewData["Title"]</h1>

<br />

<table class="table table-hover">
	<thead>
		<tr>
			<th>
				Username
			</th>
			<th>
				User status
			</th>
			<th>
				Favourite Tweeters
			</th>
			<th>
				Deleted Favourite Tweeters
			</th>
			<th>
				Stored tweets
			</th>
			<th>
				Deleted tweets
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var user in Model.UserStatisticsDTOs)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => user.UserName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => user.Status)
				</td>
				<td>
					<a asp-controller="Statistics" asp-action="FavouriteTweeters" asp-route-userId="@user.Id">@Html.DisplayFor(modelItem => user.FavouriteTweetersCount)</a>
				</td>
				<td>
					<a asp-controller="Statistics" asp-action="DeletedFavouriteTweeters" asp-route-userId="@user.Id">@Html.DisplayFor(modelItem => user.DeletedFavouriteTweetersCount)</a>
				</td>
				<td>
					<a asp-controller="Statistics" asp-action="StoredTweets" asp-route-userId="@user.Id">@Html.DisplayFor(modelItem => user.StoredTweetsCount)</a>
				</td>
				<td>
					<a asp-controller="Statistics" asp-action="DeletedTweets" asp-route-userId="@user.Id">@Html.DisplayFor(modelItem => user.DeletedTweetsCount)</a>
				</td>
			</tr>
		}
		<tr>
			<td>
			</td>
			<td>
			</td>
			<td>
				Total: @Html.DisplayFor(modelItem => Model.OverallStatistics.TotalFavouriteTweetersCount) tweeters
			</td>
			<td>
			</td>
			<td>
				Total: @Html.DisplayFor(modelItem => Model.OverallStatistics.TotalStoredTweetsCount) tweets
			</td>
			<td>
			</td>
		</tr>
	</tbody>
</table>